/* Variables */
:root {
  --background-color: linear-gradient(45deg, rgba(63,66,72,1) 0%, rgba(42,44,48,1) 100%);
  --timeline-width: 4px;
}

/* Page Setup */
* {
  margin: 0;
}

body {
  background: var(--background-color);
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

h1 {
  padding-top: 1rem;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

/* Timeline Setup */
.timeline {
  position: relative;
  top: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

.timeline li {
  list-style-type: none;
}

/* Year Setup */
.year span:hover {
  cursor: pointer;
}

.year span {
  cursor: default;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0.4rem;
  border: calc(var(--timeline-width)/2) solid white;
  border-radius: 0.2rem;
  z-index: 1;
  background: var(--background-color);
}

.year>span::after {
  content: "";
  position: absolute;
  height: var(--timeline-width);
  width: 20%;
  background-color: white;
  top: 50%;
  transform: translate3d(0.4rem, -0.1rem, 0);
  z-index: -1;
}

.year:last-of-type>span::after {
  display: none;
}

/* Event Setup */
.events {
  border: calc(var(--timeline-width)/2) solid white;
  border-radius: 50%;
  height: calc(var(--timeline-width)*2);
  width: calc(var(--timeline-width)*2);
  transform: translateY(calc(var(--timeline-width)*1.5));
  z-index: +1;
  background: var(--background-color);
  visibility: hidden;
}

.events:hover {
  /* transform: scale(1.5) translateY(var(--timeline-width)); */
  cursor: pointer;
}

/* Only Show existing events */
.visible {
  visibility: visible;
}

/* Description Setup */
.description {
  display: none;
  width: 400px;
  height: 150px;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  ". heading"
  "picture text";
  border: 2px solid white;
  border-radius: 0.2rem;
  transform: translateY(-200px);
}

.description h3 {
  grid-area: heading;
  color: white;
}

.description img {
 grid-area: picture;
 max-width: 100px;
 padding: 5px;
}

.description p {
 grid-area: text;
 color: #929BA7;
 padding: 0 0.4rem 0 0;
}

.description::before {
  content: "";
  position: absolute;
  border-bottom: var(--timeline-width) dotted white;
  width: 30px;
  left: -15px;
  top: 45px;
  transform: rotate(90deg);
  z-index: -1;
}

/* Preview Setup */
.preview {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  border: 2px dotted white;
  padding: 0.2rem;
  position: absolute;
  top: -75px;
  white-space: nowrap;
}

.preview::before {
  content: "";
  position: absolute;
  border-bottom: var(--timeline-width) dotted white;
  width: 30px;
  left: -15px;
  top: 45px;
  transform: rotate(90deg);
  z-index: -1;
}
